.content-table {
  width: 86%;
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: -3px 0px 57px -2px rgba(0,0,0,0.68);
-webkit-box-shadow: -3px 0px 57px -2px rgba(0,0,0,0.68);
-moz-box-shadow: -3px 0px 57px -2px rgba(0,0,0,0.68);
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
}
.reportsTitle{
  width: 86%;
  margin:10px auto;
  margin-top: 15px;
}
thead {
  margin-top: 20px;
  background-color:rgb(156, 117, 153) ;
  color: white;
}

.row {
  padding-left: 20px;
}

